@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.button-section {
    text-align:center;
    max-width:70%;
    
}

.button-section button {
    margin:.5em;
    background-color:#E71E62;
    border-color: #E71E62;
    color:#020001;
    display:inline-block;

}
.button-section img{
    margin-right:0.25em;
}


.button-section button:hover{
    color:#E71E62;
    background-color:#020001;
    border-color:#020001;

}

.heading-section {
    margin:.25em;
    text-align:center;
    display:inline-block;

}
.heading-section h1{
    font-family: 'Dancing Script', cursive;
    color: #FCFCFC;
}
.heading-section p{
    color:#E53770;
    letter-spacing:0.15em;
    font-size:1.25em;
}
.inline-block{
    display:inline-block;
}
.text-center{
    text-align:center;
}
 hr {
    max-width:20%;
    height:.025em;
    background-color: rgba(255, 255, 255, 0.342);
    
} 
.heading-section img{
    max-width:20%;
    max-height:20%;
    border: 1px;
    border-radius:50%;
}
.content-section {
    font-family: 'Source Sans Pro', sans-serif;
    background-color:black;
    text-align:center;
}
.footer-section {
    text-align:center;
    margin-top:2em;
    color:white;
    display: inline-block;
}
.footer-section ul {
    list-style: none;
}
.footer-section p {
    font-size:.8em;
}
.my-branding {
    color:grey;
    font-size:0.75em;
    padding-right:2em;
    margin-top:2em;
    /* text-align:center; */
}
.my-branding p{
    font-size:0.75em;
}
.contact-section{
    text-align:center;
}
.contact-section li{
    padding-right:2em;
}


/* .div-test {
    width:600px;
    height:50px;
    border: 2px solid black;
    border-radius:5px;
} */

/* would be better media query(s) */
